<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Record Notes</title>
    <link href="/static/recording.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<body>
    <button class="startRecord" id="startRecord" onclick="record()"></button>
    <button class="stopRecord" id="stopRecord" onclick="stop()"></button>
    <p id="infoMsg" class="infoMsg">Click the button and watch the magic!</p>
    <h3 id="notesTitle"></h3>
    <p id="notesDisplay"></p>
    <script src="/static/mainScript.js"></script>
</body>
</html>